:root {
  // BACKGROUNDS
  --card-bg: rgba(0, 0, 0, 0.3);
  --tab-bg: rgba(0, 0, 0, 0.5);

  // TYPOGRAPHY
  --white-spanish: #e9e2bf;
  --light-brown: #8c8c7e;
  --accent-brown: #cbac77;
  --white-orange: #fefeec;
}
