@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap");

@font-face {
  font-family: "ZurichCond";
  src: url("src/assets/fonts/zurichcond.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
